$body-color: #cce6ff;
$main-color: #fff3e6;
$border-color: #000;
$text-color: #000;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $body-color;
  color: $text-color;
}

.flashcard-container {

  width: 600px;
  height: 360px;
  perspective: 800px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .flashcard {

    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    position: absolute;

    div {
      background-color: $main-color;
      border: 3px solid $border-color;
      border-radius: 5px;
      text-align: center;
      color: $text-color;

      position: absolute;
      font-size: 24px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      margin: 0;
      width: 100%;
      height: 100%;

      display: table;

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &.flipped {
      transform: rotateY( 180deg );
    }

    .back {
      transform: rotateY( 180deg );
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .flashcard-container {
    top: 50%;
    left: 50%;
    width: 80%;
    height: 200px;
    position: absolute;

    span {
      padding: 0 5%;
      font-size: 20px;
    }
  }
}
